body {
  font-family: "Lato", sans-serif;
  color: #333333;
  overflow-x: hidden;
}

.no-padding {
  padding: 0;
}

/* MODULES - Individual site components */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding-bottom: 10px;
}

img {
  border: none;
}



.aa-browse-btn {
  display: inline-block;
  font-size: 16px;
  padding: 12px 18px;
  margin-bottom: 5px;
  border-radius: 4px;
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aa-browse-btn span {
  margin-left: 5px;
}
.aa-browse-btn:hover, .aa-browse-btn:focus {
  background-color: #fff;
  border: #e7ab3c !important;
}

.aa-browse-btn {
  background-color: #e7ab3c;
  border: #e7ab3c;
}

.aa-add-to-cart-btn {
  background: #121212;
  color: white;
  border-radius: 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 5px;
  padding: 10px 15px;
  transition: all 0.5s ease 0s;
}
.aa-add-to-cart-btn span {
  margin-right: 5px;
}

.aa-filter-btn {  
  color: #fff;
  font-size: 15px;
  height: 30px;
  width: 80px;
}

.aa-cart-view-btn {
  float: right;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aa-cart-view-btn:hover {
  background-color: #000;
  color: #fff;
}
/*---- Cartbox transition ----*/

.whats a:hover, .whats a:focus {
  color: #25d366;
}

#aa-header {
  display: inline;
  float: left;
  width: 100%;
}
#aa-header .aa-header-top {
  border-bottom: 1px solid #E8E8E8;
  display: inline;
  float: left;
  width: 100%;
  padding: 10px 5px;
}
#aa-header .aa-header-top .aa-header-top-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-header .aa-header-top .aa-header-top-left {
  float: left;
}
.aa-header-top-left .aa-language {
  border-right: 1px solid #ccc;
  float: left;
}
.aa-header-top-right .aa-language {
  border-left: 1px solid #ccc;
  float: left;
}
.aa-language {
  display: none;
}
.aa-language .btn {
  font-size: 12px;
}
.aa-language .btn img {
  display: inline;
  height: 10px;
  margin-right: 5px;
  margin-top: -2px;
  width: 12px;
}
 .aa-language .dropdown-menu {
  border-radius: 0;
  min-width: 110px;
}
 .aa-language .dropdown-menu a {
  font-size: 12px;
}
.aa-language .dropdown-menu a img {
  height: 10px;
  margin-right: 5px;
  margin-top: -2px;
  width: 12px;
}
#aa-header .aa-header-top .aa-header-top-left .aa-language .dropdown-menu:after, #aa-header .aa-header-top .aa-header-top-left .aa-language .dropdown-menu:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#aa-header .aa-header-top .aa-header-top-left .aa-language .dropdown-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: 0px;
}
#aa-header .aa-header-top .aa-header-top-left .aa-language .dropdown-menu:before {
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #ddd;
  border-width: 8px;
  margin-left: -2px;
}

.aa-header-top-left .cellphone {
  float: left;
  border-right: 1px solid #ddd;
}
.cellphone p span {
  margin-right: 5px;
}
 .cellphone p {
  font-size: 14px;
  margin-bottom: 0;
  padding: 5px 10px;
}
.cellphone p span {
  margin-right: 5px;
}
.user {
  display: none;
}
.user p {
  font-size: 14px;
  margin-bottom: 0;
  padding: 5px 10px;
}
.user p span {
  margin-right: 5px;
}

.redes {
  float: left;
  padding: 0px 5px;
}
.redes p {
  font-size: 14px;
  margin-bottom: 0;
  padding: 5px 5px;
  float: left;
}
.redes p span {
  margin-right: 5px;
}
.thor .fa {
  border: 1px solid black;
    border-radius: 50px;
    padding: 5px;
    width: 30px;
    font-size: 20px;
}
.thor p {
  font-size: 14px;
  margin-bottom: 0;
  padding: 5px 1px;
  float: left;
}
#aa-header .aa-header-top .aa-header-top-right {
  float: right;
}
#aa-header .aa-header-top .aa-header-top-right .aa-head-top-nav-right {
  display: inline-block;
  text-align: right;
}
#aa-header .aa-header-top .aa-header-top-right .aa-head-top-nav-right li {
  display: inline-block;
  text-align: right;
}
#aa-header .aa-header-top .aa-header-top-right .aa-head-top-nav-right li a {
  display: inline-block;
  color: #333333;
  border-right: 1px solid #ddd;
  font-size: 14px;
  padding: 5px 8px;
}
#aa-header .aa-header-bottom {
  float: left;
  display: inline;
  width: 100%;
  padding: 20px 0;
}
#aa-header .aa-header-bottom .aa-header-bottom-area {
  float: left;
  display: inline;
  width: 100%;
}
#aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo {
  float: left;
  margin-top: 4px;
}
#aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo a {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
}
#aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo a:hover {  
  color: #333;
}
#aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo a > span {
  display: inline-block;
  float: left;
  font-size: 50px;
}
#aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo a p {
  display: inline-block;
  float: left;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 5px;
  margin-top: -5px;
}
#aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo a p span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

 .aa-search-box {
  float: right;
  margin-right: 5%;
  position: relative;
  width: 500px;
}
.aa-search-box input[type="text"] {
  font-family: "Raleway", sans-serif;
  padding: 10px 55px 10px 10px;
  width: 100%;
  height: 50px;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 16px;
  color: black;
}
.aa-search-box input[type="text"]:focus{
  border: 1px solid #ebebeb;
  color: black;
}
 .aa-search-box button {
  border: medium none;
  color: #fff;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

 .aa-search-box button:hover {
  opacity: 0.8;
}
#aa-header .aa-header-bottom .aa-cartbox {
  float: right;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cart-link {
  font-size: 22px;
  position: relative;
  width: 120px;
  height: auto;
  display: block;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cart-link .fa-shopping-basket {
  z-index: 99;
  position: relative;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cart-link .aa-cart-title {
  color: #555;
  display: block;
  font-size: 14px;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cart-link .aa-cart-notify {
  background-color: #fff;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 9px;
  position: absolute;
  right: 39%;
  top: -15px;
  z-index: 10;
  -webkit-animation-name: cartbox-transition;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: cartbox-transition;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cart-link .aa-cart-notify:after, #aa-header .aa-header-bottom .aa-cartbox .aa-cart-link .aa-cart-notify:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cart-link .aa-cart-notify:after {
  border-color: rgba(255, 102, 102, 0);
  border-width: 5px;
  margin-left: -5px;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cart-link .aa-cart-notify:before {
  border-color: rgba(0, 0, 0, 0);
  border-width: 6px;
  margin-left: -6px;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary {
  background-color: #fff;
  border: 1px solid #E9E9E9;
  display: none;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 100%;
  width: 300px;
  z-index: 9999;
  -webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
  box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary:after, #aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary:before {
  bottom: 100%;
  left: 81%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary:before {
  border-color: rgba(233, 233, 233, 0);
  border-bottom-color: #e9e9e9;
  border-width: 11px;
  margin-left: -11px;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li {
  border-bottom: 1px solid #e2e2e2;
  display: block;
  float: left;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 100%;
  position: relative;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li:last-child {
  border: none;
  margin-bottom: 0px;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li .aa-cartbox-img {
  display: block;
  float: left;
  height: 95px;
  width: 80px;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li .aa-cartbox-img img {
  width: 100%;
  height: 100%;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li .aa-cartbox-info {
  display: block;
  float: left;
  margin-left: 10px;
  width: 55%;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li .aa-cartbox-info h4 {
  font-size: 14px;
  color: #333333;
  margin-bottom: 20px;
  margin-top: 0;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li .aa-cartbox-info h4 a {
  color: #333333;
  letter-spacing: 0.5px;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li .aa-cartbox-info p {
  font-size: 16px;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li .aa-remove-product {
  border: 1px solid transparent;
  border-radius: 50%;
  color: #c0c0c0;
  font-size: 12px;
  height: 20px;
  line-height: 17px;
  position: absolute;
  right: 0;
  top: 30%;
  width: 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li .aa-remove-product:hover, #aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li .aa-remove-product:focus {
  color: #333;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li .aa-cartbox-total-title {
  float: left;
  font-weight: bold;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px;
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li .aa-cartbox-total-price {
  float: right;
  font-weight: bold;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px;
}

.s-t {
    width: 100%;
}

/*==================
 NAVBAR SECTION
====================*/
#quick-view-modal .modal-dialog {
  margin: 4% auto;
}


.navbar-collapse ul {
  padding: 15px;
}

.open {
  z-index: 9;
}

#menu {
  margin-top: 45px;
  background-color: white;
  box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
  display: inline;
  float: left;
  width: 100%;
}
#menu .menu-area {
  float: left;
  display: inline;
  width: 100%;
}
#menu .menu-area .navbar-default {
  background-color: transparent;
  border: medium none;
  border-radius: 0;
  margin-bottom: 0;
  min-height: auto;
}
#menu .menu-area .navbar-default .navbar-nav {
  display: inline-block;
  float: left;
  margin: 0;
  text-align: center;
  width: 100%;
}
#menu .menu-area .navbar-default .navbar-nav li a {
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#menu .menu-area .navbar-default .navbar-nav .open a {
  background-color: #353535;
}
#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a {
  padding: 8px 15px;
}
#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a:hover, #menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a:focus {
  color: #fff; 
}
#menu .menu-area .navbar-default .navbar-nav .dropdown-menu .dropdown-header {
  color: #555;
  display: block;
  font-size: 16px;
  padding: 3px 20px;
  text-transform: uppercase;
}

/* ALL SECTION */
/*scrol to top*/
.scrollToTop {
  bottom: 60px;
  color: #fff;
  display: none;
  border-radius: 50px;
  font-size: 23px;
  height: 50px;
  line-height: 45px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 50px;
  z-index: 999;
}

.scrollToTop:hover,
.scrollToTop:focus {
  background-color: #FFF;
  text-decoration: none;
  outline: none;
}

/*Preloader*/
@-webkit-keyframes loader-two-before-transition {
  50% {
    left: -154px;
  }

  100% {
    left: -97px;
  }
}

@keyframes loader-two-before-transition {
  50% {
    left: -154px;
  }

  100% {
    left: -97px;
  }
}

@-webkit-keyframes loader-two-after-transition {
  50% {
    left: 54px;
  }

  100% {
    left: -4px;
  }
}

@keyframes loader-two-after-transition {
  50% {
    left: 54px;
  }

  100% {
    left: -4px;
  }
}

#wpf-loader-two {
  height: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
}


/*==================
  SLIDER SECTION
====================*/

#aa-slider {
  float: left;
  display: inline;
  width: 100%;
}
#aa-slider .aa-slider-area {
  display: inline;
  float: left;
  width: 100%;
}

#aa-slider .aa-slider-area .seq .seq-next {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-slider .aa-slider-area .seq .seq-next:hover, #aa-slider .aa-slider-area .seq .seq-next:focus {  
  border: 1px solid #f9f9f9;
  color: #fff;
}
#aa-slider .aa-slider-area .seq .seq-prev {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-slider .aa-slider-area .seq .seq-prev:hover, #aa-slider .aa-slider-area .seq .seq-prev:focus {
  border: 1px solid #f9f9f9;
  color: #fff;
}

/*==================
  PROMO SECTION
====================*/

#aa-promo {
  float: left;
  display: inline;
  width: 100%;
}
#aa-promo .aa-promo-area {
  display: inline;
  float: left;
  padding: 30px 0;
  width: 100%;
}
#aa-promo .aa-promo-area .aa-promo-left {
  display: inline;
  float: left;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
#aa-promo .aa-promo-area .aa-promo-left .aa-prom-content {
  top: 40% !important;
}
#aa-promo .aa-promo-area .aa-promo-middle {
  display: inline;
  float: left;
  width: 100%;
  height: 400px;
  background-color: #ddd;
}
#aa-promo .aa-promo-area .aa-promo-right {
  display: inline;
  float: left;
  width: 100%;
  height: 400px;
}
#aa-promo .aa-promo-area .aa-promo-right .aa-single-promo-right {
  width: 50%;
  height: 50%;
  float: left;
}

/*==================
  PRODUCT SECTION
====================*/

#aa-product {
  display: inline;
  float: left;
  width: 100%;
  background: #f8f8f0;
  margin-top: 10px;
}
#aa-product .aa-product-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-product .aa-product-area .aa-product-inner {
  display: inline;
  float: left;
  width: 100%;
}
#aa-product .aa-product-area .aa-product-inner .aa-product-catg {
  float: left;
}
#aa-product .aa-product-area .aa-product-inner #men {
  text-align: center;
  padding-bottom: 25px;
}
#aa-product .aa-product-area .aa-product-inner #electronics {
  text-align: center;
  padding-bottom: 35px;
}
#aa-product .aa-product-area .aa-product-inner #women {
  text-align: center;
  padding-bottom: 35px;
}

.aa-products-tab {
  display: block;
  text-align: center;
  border: none;
  margin-bottom: 20px;
}
.aa-products-tab li {
  border: none;
  float: none;
  display: inline-block;
}
.aa-products-tab li a {
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  margin: 0 6px;
  padding: 10px 12px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aa-products-tab li a:hover, .aa-products-tab li a:focus {
  color: #333;
  background-color: inherit;
}
.aa-products-tab li.active a {
  border: none;
  background-color: inherit;
  font-size: 16px;
}
.aa-products-tab li.active a:hover, .aa-products-tab li.active a:focus {
  border: none;
  background-color: inherit;
}
.aa-product-catg {
  margin-left: -54px;
}
.aa-product-catg li {
  display: block;
  float: left;
  height: 380px;
  text-align: center;
  margin: 0 0 20px 55px;
  width: 20.5%;
  position: relative;
  overflow: hidden;
}
.aa-product-img img {
  width: 100%;
}
.aa-product-catg li:hover figure .aa-product-img {
  background-color: rgba(0, 0, 0, 0.5);
}
.aa-product-catg li:hover figure .aa-add-card-btn {
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.aa-product-catg li:hover .aa-product-hvr-content {
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.aa-product-catg li figure {
  position: relative;
}
.aa-product-catg li figure .aa-product-img {
  background-color: #f9f9fb;
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aa-product-catg li figure .aa-add-card-btn {
  background: #000 none repeat scroll 0 0;
  bottom: 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  left: 0;
  padding: 12px 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
.aa-product-catg li figure .aa-add-card-btn span {
  margin-right: 5px;
}
.aa-product-catg li .aa-product-title {
  color: #333;
  margin-bottom: 5px;
}
.aa-product-catg li .aa-product-title a {
  color: #333;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aa-product-catg li .aa-product-price {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 16px;
}
.aa-product-catg li .aa-product-price del {
  margin-left: 5px;
}
.aa-product-catg li .aa-product-hvr-content {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.aa-product-catg li .aa-product-hvr-content a {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
}
.aa-product-catg li .aa-badge {
  position: absolute;
  top: 5%;
  left: 0;
  padding: 5px 10px;
  color: #fff;
  font-size: 15px;
}
.aa-product-catg li .aa-sale {
  background-color: #008000;
}
.aa-product-catg li .aa-sold-out {
  background-color: #FF0000;
}
.aa-product-catg li .aa-hot {
  background-color: #ff6600;
}

/*=== modal window ===*/

#quick-view-modal .modal-content {
  border-radius: 0;
}
#quick-view-modal .modal-content button.close {
  margin-right: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#quick-view-modal .modal-content button.close:hover {
  opacity: 1;
}
#quick-view-modal .modal-content .aa-product-view-slider .simpleLens-container {
  width: 100%;
}
#quick-view-modal .modal-content .aa-product-view-slider .simpleLens-container .simpleLens-big-image-container {
  width: 100%;
}
#quick-view-modal .modal-content .aa-product-view-slider .simpleLens-container .simpleLens-big-image-container .simpleLens-lens-image {
  width: 100%;
}
#quick-view-modal .modal-content .aa-product-view-slider .simpleLens-thumbnails-container {
  text-align: center;
}
#quick-view-modal .modal-content .aa-product-view-content {
  padding-right: 10px;
  padding-bottom: 23px;
  padding-left: 15px;
}
#quick-view-modal .modal-content .aa-product-view-content h3 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
#quick-view-modal .modal-content .aa-product-view-content h4 {
  font-weight: bold;
  letter-spacing: 1px;
}
#quick-view-modal .modal-content .aa-product-view-content > p {
  font-size: 15px;
  letter-spacing: 0.5px;
  margin-bottom: 14px;
}
#quick-view-modal .modal-content .aa-product-view-content .aa-price-block {
  position: relative;
  margin-bottom: 10px;
}
#quick-view-modal .modal-content .aa-product-view-content .aa-price-block .aa-product-view-price {
  font-size: 16px;
}
#quick-view-modal .modal-content .aa-product-view-content .aa-price-block .aa-product-avilability {
  position: absolute;
  right: 0;
  top: 0;
}
#quick-view-modal .modal-content .aa-product-view-content .aa-prod-view-size a {
  border: 1px solid #ddd;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  margin-right: 8px;
  padding: 5px 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#quick-view-modal .modal-content .aa-product-view-content .aa-prod-quantity {
  margin-top: 10px;
}
#quick-view-modal .modal-content .aa-product-view-content .aa-prod-quantity form {
  display: inline-block;
}
#quick-view-modal .modal-content .aa-product-view-content .aa-prod-quantity form select {
  height: 25px;
  width: 40px;
}
#quick-view-modal .modal-content .aa-product-view-content .aa-prod-quantity .aa-prod-category {
  display: inline-block;
  margin-left: 15px;
}
#quick-view-modal .modal-content .aa-product-view-content .aa-prod-quantity .aa-prod-category a {
  font-size: 14px;
}
#quick-view-modal .modal-content .aa-product-view-content .aa-prod-view-bottom {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
}
#quick-view-modal .modal-content .aa-product-view-content .aa-prod-view-bottom a:last-child {
  margin-left: 10px;
}












/*==================
 FOOTER SECTION
====================*/
address {
  margin-bottom: 6px;
  font-size: 16px;
}

.iniciar {
  color: black;     
  font-size: 16px;
}

#aa-footer {
  background-color: white;
  display: inline;
  float: left;
  width: 100%;
}
#aa-footer .aa-footer-top {
  display: inline;
  float: left;
  padding: 20px 0;
  width: 100%;
  min-height: 100px;
}
#aa-footer .aa-footer-top .aa-footer-top-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget {
  display: block;
  text-align: center;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget h3 {
  color: #888888;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a {
  color: #888;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a:hover, #aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a:focus {
  color: #fff;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget address p {
  margin-bottom: 5px;
  color: #888;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget address p span {
  margin-right: 5px;
}
.aa-footer-social {
  padding: 15px 0px 2px;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-social a {
  color: #888;
  display: inline-block;
  font-size: 18px;
  padding: 2px 0;
  margin-right: 5px;
  text-align: center;
  width: 25px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-social a:hover {
  color: #fff;
  border-color: #fff;
}
#aa-footer .aa-footer-bottom {
  border-top: 1px solid #333;
  display: inline;
  float: left;
  padding: 15px 0;
  width: 100%;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area > p {
  color: #888;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area > p a {
  color: #888;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area .aa-footer-payment {
  float: right;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area .aa-footer-payment span {
  color: #888;
  margin-left: 8px;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area .aa-footer-payment span:hover {
  color: #fff;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}




.cart-icon {
	position: relative;
}

.cart-icon:hover .cart-hover {
	opacity: 1;
	visibility: visible;
	top: 60px;
}

.cart-icon a {
	color: #252525;
	position: relative;
	display: inline-block;
}

.cart-icon a span {
	position: absolute;
	top: -1px;
	height: 15px;
	width: 15px;
	background: #e7ab3c;
	color: #ffffff;
	border-radius: 50%;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	line-height: 15px;
}

.cart-icon .cart-hover {
	position: absolute;
	right: -70px;
	top: 100px;
	width: 350px;
	background: #ffffff;
	z-index: 99;
	text-align: left;
	padding: 30px;
	opacity: 0;
	visibility: hidden;
	-webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
	box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.cart-icon .cart-hover .select-items table {
	width: 100%;
}

.cart-icon .cart-hover .select-items table tr td {
	padding-bottom: 20px;
}

.cart-icon .cart-hover .select-items table tr td.si-pic img {
	border: 1px solid #ebebeb;
}

.cart-icon .cart-hover .select-items table tr td.si-text {
	padding-left: 18px;
}

.cart-icon .cart-hover .select-items table tr td.si-text .product-selected p {
	color: #e7ab3c;
	line-height: 30px;
	margin-bottom: 7px;
}

.cart-icon .cart-hover .select-items table tr td.si-text .product-selected h6 {
	color: #232530;
}

.cart-icon .cart-hover .select-items table tr td.si-close {
	color: #252525;
	font-size: 16px;
	cursor: pointer;
}

.cart-icon .cart-hover .select-total {
	overflow: hidden;
	border-top: 1px solid #e5e5e5;
	padding-top: 26px;
	margin-bottom: 30px;
}

.cart-icon .cart-hover .select-total span {
	font-size: 14px;
	color: #e7ab3c;
	/* text-transform: uppercase; */
	letter-spacing: 0.5px;
	float: left;
}

.cart-icon .cart-hover .select-total h5 {
	color: #e7ab3c;
	float: right;
}

.cart-icon .cart-hover .select-button .view-card {
	font-size: 14px;
	/* letter-spacing: 2px; */
	display: block;
	text-align: center;
	background: #191919;
	color: #ffffff;
	padding: 15px 3px 12px;
	margin-bottom: 10px;
}

.cart-icon .cart-hover .select-button .checkout-btn {
	font-size: 12px;
	letter-spacing: 2px;
	display: block;
	text-align: center;
	color: #ffffff;
	padding: 15px 30px 12px;
}


.cart-hover {
	opacity: 1;
	visibility: visible;
	top: 60px;
}

.si-close {
	color: #252525;
	font-size: 16px;
	cursor: pointer;
}

.cart-hover .select-items table {
	width: 100%;
}
.cart-hover .select-items table tr td {
	padding-bottom: 20px;
}

.cart-hover .select-items table tr td.si-pic img {
	border: 1px solid #ebebeb;
}

.cart-hover .select-items table tr td.si-text {
	padding-left: 18px;
}

.cart-hover .select-items table tr td.si-text .product-selected p {
  color: #e7ab3c;
  line-height: 30px;
  margin-bottom: 7px;
  text-align: start;
}

.cart-hover .select-items table tr td.si-text .product-selected h6 {
  color: #232530;
  text-align: start;
}

.cart-hover .select-items table tr td.si-close {
	color: #252525;
	font-size: 16px;
	cursor: pointer;
}

.cart-hover .select-total {
  overflow: hidden;
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  margin-bottom: 10px;
}

.select-total h5 {
  font-size: 16px;
}

.cart-hover .select-total span {
  font-size: 16px;
  color: #e7ab3c;
  letter-spacing: 0.5px;
  float: left;
  margin-top: 4px;
  margin-bottom: 10px;
}

.cart-hover .select-total h5 {
	color: #e7ab3c;
	float: right;
}

.cart-hover .select-button .view-card {
	font-size: 14px;
	/* letter-spacing: 2px; */
	display: block;
	text-align: center;
	background: #191919;
	color: #ffffff;
	padding: 15px 3px 12px;
	margin-bottom: 10px;
}

.cart-hover .select-button .checkout-btn {
	font-size: 12px;
	letter-spacing: 2px;
	display: block;
	text-align: center;
	color: #ffffff;
	padding: 15px 30px 12px;
}

.fa-times {
  color: gray;
}
.aa-footer-social .fa-instagram, .aa-footer-social .fa-whatsapp {
  font-size: 23px;
}


.sub-1 {
  padding-bottom: 5px;
  font-weight: 600;
}

.tab-content {
  margin-top: 20px;
}


.inner-header .logo {
	padding: 12px 0;
}

.inner-header .logo a {
	display: inline-block;
}

.inner-header .advanced-search {
	height: 50px;
	border: 1px solid #ebebeb;
	border-radius: 20px;
}

.inner-header .advanced-search .category-btn {
	max-width: 30%;
	float: left;
	background: transparent;
	border: none;
	padding-left: 23px;
	padding-top: 11px;
	padding-bottom: 13px;
	padding-right: 60px;
	font-size: 16px;
	color: #252525;
	position: relative;
}

.inner-header .advanced-search .category-btn:before {
	position: absolute;
	right: 0;
	top: 14px;
	width: 1px;
	height: 20px;
	background: #e5e5e5;
	content: "";
}

.inner-header .advanced-search .category-btn:after {
	position: absolute;
	right: 11px;
	top: 10px;
	content: "3";
	font-family: "ElegantIcons";
	font-size: 16px;
	color: #b2b2b2;
}

.inner-header .advanced-search .input-group {
	height: 100%;
}

.inner-header .advanced-search .input-group input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 16px;
	color: #d1d1d1;
	padding-left: 20px;
	border-radius: 20px;
}

.inner-header .advanced-search .input-group button {
	font-size: 16px;
	color: #ffffff;
	position: absolute;
	right: -3px;
	border: 1px solid #e7ab3c;
	background: #e7ab3c;
	padding: 12px 16px 12px;
	cursor: pointer;
	border-top-right-radius: 20px;
    border-bottom-right-radius: 20px
}

.inner-header .nav-right {
	padding: 10px 0;
}

.inner-header .nav-right li {
	list-style: none;
	display: inline-block;
	font-size: 20px;
	margin-left: 15px;
}

.inner-header .nav-right li.heart-icon a {
	color: #252525;
	position: relative;
	display: inline-block;
}

.inner-header .nav-right li.heart-icon a span {
	position: absolute;
	right: -8px;
	top: -1px;
	height: 15px;
	width: 15px;
	background: #e7ab3c;
	color: #ffffff;
	border-radius: 50%;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	line-height: 15px;
}

.inner-header .nav-right li.cart-icon {
	position: relative;
}

.inner-header .nav-right li.cart-icon:hover .cart-hover {
	opacity: 1;
	visibility: visible;
	top: 60px;
}

.inner-header .nav-right li.cart-icon a {
	color: #252525;
	position: relative;
	display: inline-block;
}

.inner-header .nav-right li.cart-icon a span {
	position: absolute;
	right: -8px;
	top: -1px;
	height: 15px;
	width: 15px;
	background: #e7ab3c;
	color: #ffffff;
	border-radius: 50%;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	line-height: 15px;
}

.inner-header .nav-right li.cart-icon .cart-hover {
	position: absolute;
	right: -70px;
	top: 100px;
	width: 350px;
	background: #ffffff;
	z-index: 99;
	text-align: left;
	padding: 30px;
	opacity: 0;
	visibility: hidden;
	-webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
	box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-items table {
	width: 100%;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td {
	padding-bottom: 20px;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-pic img {
	border: 1px solid #ebebeb;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-text {
	padding-left: 18px;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-text .product-selected p {
	color: #e7ab3c;
	line-height: 30px;
	margin-bottom: 7px;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-text .product-selected h6 {
	color: #232530;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-close {
	color: #252525;
	font-size: 16px;
	cursor: pointer;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-total {
	overflow: hidden;
	border-top: 1px solid #e5e5e5;
	padding-top: 26px;
	margin-bottom: 30px;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-total span {
	font-size: 14px;
	color: #e7ab3c;
	/* text-transform: uppercase; */
	letter-spacing: 0.5px;
	float: left;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-total h5 {
	color: #e7ab3c;
	float: right;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-button .view-card {
	font-size: 12px;
	/* letter-spacing: 2px; */
	display: block;
	text-align: center;
	background: #191919;
	color: #ffffff;
	padding: 15px 30px 12px;
	margin-bottom: 10px;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-button .checkout-btn {
	font-size: 12px;
	letter-spacing: 2px;
	display: block;
	text-align: center;
	color: #ffffff;
	padding: 15px 30px 12px;
}

.inner-header .nav-right li.cart-price {
	font-size: 18px;
	font-weight: 700;
	color: #252525;
}



.float{
	position: fixed;
  padding: 7px 12px 8px;
    font-size: 16px;
    right: 68px;
    background-color: #25d366;
    color: #FFF;
    bottom: 130px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.fa-trash {
	color: white;
}

.float-t{
	padding: 3px 0 8px 0;
    position: fixed;
    width: 40px;
    height: 36px;
    bottom: 130px;
    right: 20px;
    background-color: #c00;
    color: #FFF;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}
.float-t:hover {
	text-decoration: none;
  background-color:#fff;
  cursor: pointer;
}

.float-t:hover .fa-trash{
	color: #c00 !important;
}

.float span {
	font-size: 16px;
    padding-left: 34px;
}

.my-float{
	padding-right: 2px;
}



.aa-product-catg li {
  background: white;
  height: auto;
  padding-bottom: 18px;
}

.simpleLens-big-image {
  max-width: 100%;
  height: fit-content;
  /* width: 100%; */
  margin-bottom: 10px;
}

#quick-view-modal .cierre {
  border: transparent;
  background: transparent;
  font-size: 27px;
  margin-right: -2px;
  z-index: 9;
  position: absolute;
  float: right;
  right: 0;
  margin-top: -10px;
}
#quick-view-modal .modal-header{
  border-bottom: transparent;
}

#quick-view-modal .modal-body {
  position: relative;
  padding: 15px;
}

.aa-prod-view-bottom .quantity {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 33px;
}

.aa-prod-view-bottom .quantity .pro-qty {
	width: 123px;
	height: 46px;
	border: 2px solid #ebebeb;
	padding: 0 15px;
	float: left;
	margin-right: 14px;
}

.aa-prod-view-bottom .quantity .pro-qty .qtybtn {
	font-size: 24px;
	color: #b2b2b2;
	float: left;
	line-height: 38px;
	cursor: pointer;
	width: 18px;
}

.aa-prod-view-bottom .quantity .pro-qty .qtybtn.dec {
	font-size: 30px;
}

.aa-prod-view-bottom .quantity .pro-qty input {
	text-align: center;
	width: 52px;
	font-size: 14px;
	font-weight: 700;
	border: none;
	color: #4c4c4c;
	line-height: 40px;
	float: left;
}

.aa-prod-view-bottom .quantity .primary-btn.pd-cart {
	padding: 14px 12px 10px;
}


 .pro-qty {
	width: 123px;
	height: 46px;
	border: 2px solid #ebebeb;
	padding: 0 15px;
	float: left;
	margin-right: 14px;
}
 .pro-qty .qtybtn {
	font-size: 24px;
	color: #b2b2b2;
	float: left;
	line-height: 38px;
	cursor: pointer;
	width: 18px;
}

 .pro-qty .qtybtn.dec {
	font-size: 30px;
}

.pro-qty input {
	text-align: center;
	width: 52px;
	font-size: 14px;
	font-weight: 700;
	border: none;
	color: #4c4c4c;
	line-height: 40px;
	float: left;
}



.pro-qty {
	width: 123px;
	height: 46px;
	border: 2px solid #ebebeb;
	padding: 0 15px;
	float: left;
}

 .pro-qty .qtybtn {
	font-size: 24px;
	color: #b2b2b2;
	float: left;
	line-height: 38px;
	cursor: pointer;
	width: 18px;
}

.pro-qty .qtybtn.dec {
	font-size: 30px;
}

 .pro-qty input {
	text-align: center;
	width: 52px;
	font-size: 14px;
	font-weight: 700;
	border: none;
	color: #4c4c4c;
	line-height: 40px;
  float: left;
 }

#usuario-modal .dark {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  color: white;
  background-color: #1b1b1b;
  background-clip: padding-box;
  border-radius: .3rem;
  outline: 0;
}

#usuario-modal .close {
  position: absolute;
  right: 0;
  color: white;
  opacity: 1;
  font-size: 20px;
  margin-right: 13px;
  margin-top: -1px;
}
#usuario-modal .modal-body {
  position: relative;
    padding: 15px;
    padding-left: 23px;
    padding-right: 26px;
}
label {
  font-weight: 100;
}
.gray-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 18px;
  border-radius: 6px;
  color: #ffffff;
  background: #3b3b3b;
}
.p-10 {
  padding: 0 0 15px 30px !important;
  display: flex!important;
}
#usuario-modal .modal-header {
    display: flex;
    padding: 1rem 1rem 0em;
    border-bottom: transparent;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

#usuario-modal .modal-title {
  margin-bottom: 0;
    line-height: 1.5;
    color: white;
    padding-left: 16px;
    font-size: 17px;
}

.centro {
	display: flex;
    justify-content: center;
    align-items: center;
 }

 figcaption {
  text-align: left;
  padding-left: 16px;
 }

 .aa-add-to-cart-btn-white {
  border: 1px solid #ccc;
  color: #555;
  border-radius: 20px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 5px;
  padding: 10px 15px;
  transition: all 0.5s ease 0s;
  background: transparent;
 }
 .aa-add-to-cart-btn-white:focus {
  color: #252525;
 }
 .aa-add-to-cart-btn-white:hover {
  color: #252525;
 }
 #usuario-modal .modal-dialog {
  margin: 16.75rem auto;

}

.navbar-nav .open .dropdown-menu {
  padding: 0px;
}

.vol {
  background: transparent;
  border: transparent;
  color: white;
}

.volver {
  font-size: 19px;
}

#pedido .modal-header {
 background: #e7ab3c;
 padding: 5px !important;
}

.gray {
  background: #f8f8f0;
}

.sec-1 {
  border-radius: 10px;
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.sec-1 h5 {
  font-size: 17.5px;
  font-weight: 600;
  margin-top: 0;
}

.prod {
  display: inline-block;
  border-bottom: 1px solid #efefef;
  padding-bottom: 8px;
  padding-top: 15px;
  width: 100%;
}

.s-t {
  display: inline-block;
    margin-top: 14px;
}


.detalle span {
  font-weight: 600;
}

.detalle p {
  margin: 0 !important;
}
.sp {
  margin-bottom: 5px;
  background: gray;
}
.sec-1 .boton {
  width: 100%;
  border: transparent;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.form-div input {
  width: 100%;
  padding: 7px;
  border: transparent;
  background: #efefef;
}

.normal {
  background: #e7ab3c;
}

.form-div label {
  padding-top: 10px;
  font-size: 17px;
}
.form-div select {
    width: 100%;
    padding: 9px;
    border: transparent;
    background: #efefef;
}
.p-d {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.p-d h4 {
  font-weight: 600;
  font-size: 16px;
}

.p-d span {
  font-size: 16px;
}

.p-d a {
  font-size: 16px;
}

.p-d button {
  border: transparent;
  background: #e7ab3c;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.sec-1 textarea {
    width: 100%;
    border: transparent;
    background: #e7ab3c;
    border-radius: 5px;
    color: black;
  font-size: 17px;
    padding: 10px;
}

textarea::placeholder {
    color: white;
  font-size: 17px;
}
.what {
  width: 100%;
  background: #29b55d;
  border: transparent;
  padding: 15px;
  border-radius: 5px;
  color: white;
}

.negro {
  color: black;
  font-size: 25px;
  margin-top: 5px;
}


.formulario .radio label,
  .formulario .checkbox label {
    display: inline-block;
    width: 100%;
    background: #e7ab3c;
    text-align: center;
    cursor: pointer;
    color: white;
    position: relative;
    padding: 5px 15px 5px 15px;
    margin-bottom: 7px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .formulario .radio label:hover,
    .formulario .checkbox label:hover {
      background: #e7ab3c;
      border-radius: 5px; }
  .formulario input[type="radio"] {
    display: none; }
    .formulario input[type="radio"]:checked + label {
      padding: 5px 15px;
      background: gray;
      border-radius: 5px;
      color: #fff; }



.form .radio label,
  .form .checkbox label {
    display: inline-block;
    background: #e7ab3c;
    text-align: center;
    cursor: pointer;
    color: white;
    position: relative;
    padding: 5px 15px 5px 15px;
    margin-bottom: 7px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .form .radio label:hover,
    .form .checkbox label:hover {
      background: #e7ab3c;
      border-radius: 5px; }
  .form input[type="radio"] {
    display: none; }
    .form input[type="radio"]:checked + label {
      padding: 5px 15px;
      background: gray;
      border-radius: 5px;
      color: #fff; }

.prod .pro-qty {
    width: 40px;
    height: 123px;
    border: 2px solid #ebebeb;
    padding: 0 15px;
    float: right;
}

.prod .pro-qty input {
    text-align: center;
    width: 15px !important; 
    font-size: 14px;
    font-weight: 700;
    border: none;
    color: #4c4c4c;
    line-height: 40px;
    float: left;
}

.col-lg-3 {
    width: 21%;
}
.col-md-6 {
    width: 50%;
}

.left {
    float: left;
}

/* -- quantity box -- */

.quantity {
  display: inline-block; 
  margin-right: 15px;
}

.prod .quantity {
  display: inline-block; 
  margin-right: 0px;
}
 
 .quantity .input-text.qty {
  width: 35px;
  height: 41px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
 }
 
 .quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top; }
 
 .quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
 }
 
 .quantity.buttons_added .minus,
 .quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 41px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  cursor:pointer;}
 
 .quantity.buttons_added .minus {
  border-right: 0; }
 
 .quantity.buttons_added .plus {
  border-left: 0; }
 
 .quantity.buttons_added .minus:hover,
 .quantity.buttons_added .plus:hover {
  background: #eeeeee; }
 
 .quantity input::-webkit-outer-spin-button,
 .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }
  
  .quantity.buttons_added .minus:focus,
 .quantity.buttons_added .plus:focus {
  outline: none; }
 
 

.basura {
  padding-left: 10px;
}

 .efect:hover {
  transition: .5s;
  box-shadow: 0 5px 20px 0 rgba(191, 222, 250, 0.56);
  transform:scale(0.9);
  -ms-transform:scale(0.9);
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9); 
  -o-transform:scale(0.9); 
 }
 .carousel-control.right, .carousel-control.left  {
  background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgb(0 0 0 / 0%) 100%) !important;
  margin-top: 60px;
  margin-bottom: 60px; 
}

 .carousel-control {
  opacity: .9;
 }

 

.nav-item .nav-depart {
	float: left;
}

.nav-item .nav-depart .depart-btn {
	background: #3b3b3b;
	color: #ffffff;
	padding: 14px 84px 14px 18px;
	cursor: pointer;
	position: relative;
}

.nav-item .nav-depart .depart-btn:hover .depart-hover {
	top: 52px;
	opacity: 1;
	visibility: visible;
	z-index: 99;
	/* transform: translate(-329px, 10px); */
}

.nav-item .nav-depart .depart-btn:before {
	position: absolute;
	color: #ffffff;
	right: 20px;
	top: 13px;
	content: "";
	font-family: FontAwesome;
	font-size: 18px;
}

.nav-item .nav-depart .depart-btn i {
	color: #ffffff;
	font-size: 16px;
}

.nav-item .nav-depart .depart-btn span {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 16px;
}

.nav-item .nav-depart .depart-btn .depart-hover {
	position: absolute;
    width: auto;
    background: #fff;
	left: 0;
	top: 62px;
    float: left;
    margin-left: -350px;
    opacity: 0;
    visibility: hidden;
    padding-bottom: 29px;
    -webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
    box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-item .nav-depart .depart-btn .depart-hover li {
	list-style: none;
}

.nav-item .nav-depart .depart-btn .depart-hover li.active a {
	color: #e7ab3c;
}

.nav-item .nav-depart .depart-btn .depart-hover li a {
	display: block;
	font-size: 16px;
	color: #000000;
	padding-left: 40px;
	padding-top: 16px;
	padding-right: 30px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-item .nav-depart .depart-btn .depart-hover li a:hover {
	color: #e7ab3c;
}

.nav-item .nav-menu {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: relative;
}

.nav-item .nav-menu li {
	list-style: none;
	display: inline-block;
	margin-left: -5px;
	position: relative;
}

.nav-item .nav-menu li.active a {
	background: #e7ab3c;
}

.nav-item .nav-menu li a {
	font-size: 14px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	border-right: 2px solid #3b3b3b;
	text-transform: uppercase;
	padding: 16px 42px 15px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-item .nav-menu li:hover>a {
	background: #e7ab3c;
}

.nav-item .nav-menu li:hover .dropdown {
	opacity: 1;
	visibility: visible;
	top: 52px;
}

.nav-item .nav-menu li .dropdown {
	position: absolute;
	right: 0;
	top: 82px;
	width: 200px;
	z-index: 99;
	background: #252525;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-item .nav-menu li .dropdown li {
	display: block;
	margin-left: 0;
}

.nav-item .nav-menu li .dropdown li:hover>a {
	background: transparent;
	color: #e7ab3c;
}

.nav-item .nav-menu li .dropdown li a {
	border-right: 0;
	padding: 13px 20px 12px 30px;
	text-transform: capitalize;
}

#quick-view-modal .modal-dialog {
  width: fit-content !important;
}

/*==================
 RESPONSIVE DESIGN
====================*/

@media (max-width: 5000px) {
  #menu .oc {
    display: none !important;
  }

  .cart-icon {
    display: flex;
  }

  #aa-header .aa-header-bottom .aa-cartbox .aa-cart-link {
    width: 60px;
  }

  .cart-price {
    list-style: none;
    margin-top: 7px;
  }

  .cat {
    color: white;
    position: absolute;
    padding: 10px 0px 8px 10px;
    font-size: 20px;
  }
  
  .navbar-header {
    width: 185px;
    position: absolute;
    padding: 3px 0px;
    margin-top: -56px;
    background: #e7ab3c;
  }

  
  .navbar-toggle {
    display: inline-block;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

  .show {
    display: flex !important;
  }
  .navbar__dropdown--item h4 {
    margin-left: 37px;
    margin-top: 30px;
    color: #e7ab3c;
}
.navbar__dropdown--item a {
  display: block;
  font-size: 16px;
  color: #333333;
  padding-left: 40px;
  padding-top: 16px;
  padding-right: 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar-collapse ul {
  padding: 15px 15px 50px;
}
  .secon {
    display: none;
  }
  .thor .fa {
    display: none;
  }


.navbar-toggle {
  display: inline-block;
}
}
@media (max-width: 1199px) {
  .aa-product-catg {
    margin-left: -45px;
  }

  .aa-product-catg li {
    margin: 0 0 20px 45px;
    width: 20.5%;
  }

  .slick-prev {
    left: 93%;
  }

  .aa-popular-category-area .slick-dots {
    display: none !important;
  }

  #aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-prev {
    left: 15px;
  }

  #aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-next {
    right: -15px;
  }

  #aa-slider .aa-slider-area .seq-title h2 {
    line-height: 50px;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .aa-product-catg li {
    width: 29.2%;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li {
    width: 100%;
  }

  .aa-sidebar-price-range .aa-filter-btn {
    margin-top: 10px;
  }

  #aa-product-category .aa-sidebar .aa-sidebar-widget h3 {
    font-size: 22px;
  }

  #aa-catg-head-banner img {
    width: 100%;
  }

  #aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content {
    padding: 5% 0;
  }
}
@media (max-width: 991px) {

  .aa-search-box {
    margin-right: 3%;
  }

  #aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo {
    float: left;
    margin-top: 4px;
    margin-left: 13px;
  }

  #aa-header .aa-header-bottom .aa-cartbox {
    padding-top: 6px;
    margin-right: 10px;
  }

  #menu .menu-area .navbar-default .navbar-nav li a {
    font-size: 15px;
    padding: 14px;
  }

  #aa-slider .aa-slider-area .seq-title {
    left: 8%;
    width: 80%;
  }

  .aa-product-catg {
    margin-left: -20px;
  }

  .aa-product-catg li {
    margin: 0 0 20px 20px;
    width: 30%;
  }

  .slick-prev {
    left: 91%;
  }


  #aa-product-category .aa-product-catg-content .aa-product-catg-body .aa-product-catg li {
    width: 44%;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li {
    width: 100%;
  }

  #aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content {
    padding: 3.5% 0;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li figure .aa-product-descrip {
    padding-right: 20px;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li figure .aa-product-img {
    margin-right: 20px;
    width: 42%;
  }
  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li figure .aa-product-img img {
    max-width: 100%;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li figure .aa-product-descrip {
    padding-right: 25px;
    font-size: 15px;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li figure .aa-add-card-btn {
    bottom: 20%;
    left: 46%;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li .aa-product-hvr-content {
    width: 42%;
  }

  #aa-product-details .aa-product-details-area .aa-product-details-content {
    margin: 0 auto;
    width: 100%;
  }

  .aa-product-details-content .aa-product-view-slider .simpleLens-big-image-container {
    width: 100%;
  }
  .aa-product-details-content .aa-product-view-slider .simpleLens-big-image-container .simpleLens-lens-image {
    width: 100%;
  }

  .cart-view-table .table-responsive .aa-cart-view-bottom .aa-cart-view-btn {
    float: none;
    margin-top: 20px;
  }

  #aa-contact .aa-contact-area .aa-contact-address .aa-contact-address-right {
    margin-top: 20px;
  }

  #aa-blog-archive .aa-blog-archive-area .aa-blog-sidebar {
    margin-top: 30px;
  }
  .secon {
    display: inline-block;
    width: 100%;
  }

  .main {
    display: none;
  }
}

@media (max-width: 970px) {

  #aa-header .aa-header-bottom .aa-cartbox .aa-cart-link {
    font-size: 22px;
    position: relative;
    width: 20px;
    height: auto;
    display: block;
    float: left;
    margin-right: 9px;
  }

  .cart-price {
    list-style: none;
    float: left;
    font-size: 14px;
    float: left;
    margin-top: 8px;
    list-style: none;
  }

}


@media (max-width: 780px) {
  .navbar-default .navbar-toggle,
  .navbar-default .navbar-toggle {
    border-radius: 0;
  }

 #menu .oc {
   display: inline-block !important;
 }

 #aa-product {
  margin-top: 0px;
 }

 .navbar-header {
  width: 100%;
  position: absolute;
  padding: 3px 0px;
  margin-top: -50px;
  color: white;
  background: #e7ab3c;
}

.cat {
  position: absolute;
  padding: 10px 0px 8px 20px;
  font-size: 20px;
  color: white;
  font-weight: 500;
}
#menu .menu-area .navbar-default .navbar-nav li a {
  color: black;
  border-bottom: 1px solid #f1f1f1;
}
#menu .menu-area .navbar-default .navbar-nav {
  background: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
 .navbar-collapse ul {
  padding: 15px;
}

#menu .menu-area .navbar-default .navbar-nav .open a {
  background: #fdfdfd;
  color: black;
}

 .show {
  display: none !important;
}

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    color: black;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  #menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a {
    color: #232323;
}

  #aa-product .aa-product-area {
    padding: 0 15px;
  }

  #aa-popular-category .aa-popular-category-area {
    padding: 0 15px;
  }

  #aa-support .aa-support-area .aa-support-single {
    margin-bottom: 30px;
  }

  #aa-latest-blog .aa-latest-blog-area .aa-latest-blog-single {
    margin-bottom: 30px;
  }

  #aa-latest-blog .aa-latest-blog-area .aa-latest-blog-single .aa-blog-img {
    height: 400px;
  }

  #aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget {
    /* margin-bottom: 30px; */
    text-align: center;
  }

  .simpleLens-lens-element {
    display: none;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .aa-product-catg li {
    width: 45%;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li {
    width: 100%;
  }

  .aa-product-details-content .aa-product-view-slider .simpleLens-container {
    width: 100%;
  }

  #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content {
    padding: 0 30px;
    text-align: center;
  }

  #cart-view .cart-view-area .cart-view-table .table tbody tr .aa-cart-view-bottom .aa-cart-coupon {
    float: none;
  }

  .cart-view-table .table-responsive .aa-cart-view-bottom .aa-cart-view-btn {
    float: none;
    margin-top: 20px;
  }

  #cart-view .cart-view-area .cart-view-table .aa-cart-view-btn {
    font-size: 15px;
    padding: 12px;
  }

  #cart-view .cart-view-area .cart-view-table .table tbody tr .aa-cart-view-bottom {
    padding: 15px;
  }

  #cart-view .cart-view-area .cart-view-table .table tbody tr .aa-cart-view-bottom .aa-cart-coupon .aa-coupon-code {
    font-size: 15px;
    margin-right: 15px;
    min-width: 100px;
    padding: 12px;
    width: 150px;
  }

  .aa-blog-details .aa-blog-content-single .blog-single-tag {
    text-align: center;
  }

  .aa-blog-details .aa-blog-content-single .blog-single-social {
    margin-top: 20px;
    text-align: center;
  }
}

@media (max-width: 746px) {

.aa-search-box {
    width: 100%;
    padding-left: 35px;
}

}
@media (max-width: 640px) {

   .aa-search-box {
    margin-right: 0;
    width: 100%;
  }

  .aa-search-box {
    width: 100%;
    padding-left: 0px;
}

  #menu {
    display: inline-block;
  }

  .aa-product-catg {
    margin-left: -20px;
  }

  
  .aa-product-catg li {
    margin: 0 0 20px 20px;
    width: 45%;
  }

  .slick-prev {
    left: 89%;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .aa-product-catg {
    margin-left: 0;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .aa-product-catg li {
    margin-left: 0px;
    width: 100%;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li {
    width: 100%;
  }

  #cart-view .cart-view-area .cart-view-table .table tbody tr td img {
    height: 40px;
    width: 40px;
  }

  #cart-view .cart-view-area .cart-view-table .table thead tr th {
    font-size: 16px;
    padding: 10px 0;
  }

  #cart-view .cart-view-area .cart-view-table .table tbody tr td {
    font-size: 14px;
  }

  #cart-view .cart-view-area .cart-view-table .table tbody tr .aa-cart-view-bottom .aa-cart-coupon .aa-coupon-code {
    font-size: 12px;
    margin-right: 10px;
    min-width: 100px;
    padding: 8px;
    width: 100px;
  }

  #cart-view .cart-view-area .cart-view-table .aa-cart-view-btn {
    font-size: 12px;
    padding: 10px;
  }

  #cart-view .cart-view-area .cart-view-table .cart-view-total h4 {
    font-size: 20px;
  }

  .aa-wishlist-table .aa-add-to-cart-btn {
    font-size: 10px;
    padding: 8px 10px;
  }
}

@media (max-width: 580px) {
  .col-md-6 {
    width: 58% !important;
}
.basura {
  padding-left: 5px !important;
}
.prod .quantity .input-text.qty {
  width: 25px !important;
  height: 26px !important;
}
  .col-lg-3 {
    width: 20% !important;
    padding: 0;
    padding-right: 8px;
  }
  .detalle p {
    font-size: 14px;
  }
  .detalle span{
    font-size: 14px;
  }
  .prod .quantity.buttons_added .minus, .quantity.buttons_added .plus {
    padding: 2px 5px 0px !important; 
    height: auto !important; 
  }
  .negro {
    margin-top: 0px !important;
    font-size: 18px !important;
  }
  .detalle p {
    font-size: 13px;
  }
  .radio, .checkbox {
    font-size: 13px;
  }
  
  .form-div {
    font-size: 13px;
  }
  .sec-1 h5 {
    font-size: 14.5px !important;
}
  .form-div label {
    font-size: 14px !important;
  }

  .s-t {
    font-size: 12.5px;
}
  
  .volver {
    font-size: 15px !important;
  }
}



@media (max-width: 480px) {
  #aa-slider .aa-slider-area .seq-title {
    left: 2%;
    top: 15%;
    width: 90%;
  }
  .sec-1 textarea {
    font-size: 14px;
  }

  textarea::placeholder {
    font-size: 15px;
  }
  .cat {
    padding: 12px 0px 8px 20px;
    font-size: 18px;
  }
  .aa-browse-btn {
    font-size: 14px;
  }
  address {
    font-size: 14px;
  }
  .iniciar {
    font-size: 14.5px;
  }
  .aa-product-catg li .aa-product-price {
    font-size: 15px;
  }
  .col-lg-3 {
    width: 18% !important;
  }
  .detalle span {
    font-size: 13px;
  }
  .col-md-6 {
    width: 60% !important;
    padding: 0;
  }

  .sec-1 h5 {
    font-size: 14px !important;
  }

  .negro {
    font-size: 18px;
  }
  .basura {
    margin-top: 5px;
  }
  #quick-view-modal .modal-dialog {
    margin: 20% auto !important;
  }
  .aa-add-to-cart-btn {
    font-size: 15px;
  }
  .thor .fa {
    display: inline-block;
  }
  .aa-add-to-cart-btn-white {
    font-size: 13px !important;
  }

  .thor {
    float: left;
    padding-left: 40px;
    margin-top: -4px;
  }

  #aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo {
    float: left;
    margin-top: -5px;
  }

  #aa-slider .aa-slider-area .seq-title h2 {
    font-size: 25px;
    line-height: 30px;
    margin-top: 0;
  }

  #aa-slider .aa-slider-area .seq-title span {
    font-size: 12px;
  }

  .seq .seq-next, .seq .seq-prev {
    font-size: 30px;
    line-height: 35px;
    margin-top: -50px;
    padding: 5px 12px;
  }

  .aa-product-catg {
    margin-left: 0;
  }

  .aa-product-catg li {
    margin-left: 0;
    width: 47%;
    margin: 0 0px 10px 8px;
  }

  .slick-prev {
    left: 84%;
  }

  #aa-promo .aa-promo-area {
    margin-top: -20px;
    padding: 0;
  }

  #aa-promo .aa-promo-area .aa-promo-left {
    height: 250px;
    width: 100%;
  }

  #aa-promo .aa-promo-area .aa-promo-right {
    height: auto;
  }

  #aa-promo .aa-promo-area .aa-promo-right .aa-single-promo-right {
    height: 250px;
    width: 100%;
  }

  #aa-product .aa-product-area {
    margin-top: 0px;
  }

  .aa-products-tab li a {
    margin: 0 4px;
    padding: 6px;
  }

  .scrollToTop {
    font-size: 20px;
    height: 40px;
    line-height: 35px;
    width: 40px;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-left .aa-sort-form select {
    width: auto;
    padding: 0 5px 0 0;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-left .aa-show-form select {
    padding: 0 5px 0 0;
    width: auto;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li {
    height: 500px;
    width: 100%;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li figure .aa-product-img {
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li figure .aa-add-card-btn {
    bottom: 0;
    left: 0;
    width: 100%;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li .aa-product-hvr-content {
    top: 40%;
    width: 100%;
  }

  #aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content h2 {
    font-size: 20px;
    line-height: 20px;
  }

  #aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content .breadcrumb {
    margin-bottom: 0;
    padding: 3px 10px;
  }

  #aa-catg-head-banner {
    height: 100px;
  }

  #aa-catg-head-banner img {
    height: 100%;
  }

  #aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content {
    padding: 6.5% 0;
  }

  .aa-wishlist-table .aa-add-to-cart-btn {
    font-size: 7px;
    padding: 8px 0;
  }

  #cart-view .cart-view-area .aa-wishlist-table .table thead tr th {
    font-size: 14px;
    padding: 10px 0;
  }

  #aa-contact .aa-contact-area .aa-contact-top {
    padding: 20px;
  }

  #aa-contact .aa-contact-area .aa-contact-top h2 {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 10px;
  }

  #aa-contact .aa-contact-area .aa-contact-address .aa-contact-address-left .comments-form textarea {
    width: 100%;
  }

  #aa-contact .aa-contact-area .aa-contact-address {
    padding: 20px;
  }

  #aa-error .aa-error-area {
    padding: 70px 70px 90px;
  }

  #aa-error .aa-error-area h2 {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 20px;
  }

  .aa-blog-details #respond input[type="text"], .aa-blog-details #respond input[type="email"], .aa-blog-details #respond input[type="url"] {
    width: 100%;
  }
  #aa-header .aa-header-bottom .aa-cartbox {
    padding-top: 1px;
    margin-right: -6px;
  }
  .aa-search-box {
    margin-top: 8px;
  }
  .prod .quantity .input-text.qty {
    width: 20px !important;
    height: 26px !important;
}
.prod .quantity.buttons_added .minus, .quantity.buttons_added .plus {
  padding: 2px 3px 0px !important;
  height: auto !important;
}
}


@media (max-width: 410px) {
  .aa-add-to-cart-btn {
    width: 160px;
    font-size: 13px !important;
}
  .basura {
    margin-top: 5px;
}
.aa-add-to-cart-btn-white {
   padding: 8px 9px !important;
}

.detalle p {
  font-size: 12px;
}
.detalle span {
  font-size: 12px;
}

.negro {
  font-size: 16px !important;
}

.col-md-6 {
  width: 58% !important;
  padding: 0;
}

.col-lg-3 {
  width: 16% !important;
}

.basura {
    margin: 0px;
}
.detalle span {
  font-size: 12px;
}

}

@media (max-width: 375px) {
	.aa-add-to-cart-btn {
		font-size: 15px !important;
    text-align: center;
  }
  .aa-add-to-cart-btn-white {
    font-size: 12px !important;
    padding: 6px 8px !important;
}

  #quick-view-modal .modal-dialog {
    margin: 24% auto !important;
  }
  
  .thor {
    padding-left: 30px;
}
	#aa-header .aa-header-bottom .aa-cartbox {
		margin-right: 3px !important;
  }
  .pro-qty {
    width: 99px !important;
    height: 37px !important;
    border: 2px solid #ebebeb;
    float: left;
    margin-top: 4px !important;
}
.pro-qty .qtybtn.dec {
  font-size: 30px;
  width: 12px !important;
}
  .pro-qty input {
    text-align: center;
    width: 39px !important;
    font-size: 14px;
    font-weight: 700;
    height: 33px;
    border: none;
    color: #4c4c4c;
    line-height: 40px;
    float: left;
  }
  .pro-qty .qtybtn {
    color: #b2b2b2;
    float: left;
    line-height: 29px;
    cursor: pointer;
    font-size: 20px;
    width: 13px !important;
}
}


@media (max-width: 360px) {
  #aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo {
    margin-bottom: 10px;
    text-align: center;
    margin-left: 4px;
  }
  .prod .quantity .input-text.qty {
    width: 18px !important;
    height: 26px !important;
    font-size: 10px;
}
  .s-t {
    font-size: 11.5px;
}
.aa-add-to-cart-btn {
    font-size: 14px !important;
    text-align: center;
}
  figcaption h4 {
    font-size: 15px !important;
  }
  .float {
    font-size: 15px !important;
  }
  .aa-product-catg li .aa-product-price {
    font-size: 15px;
}

  .aa-add-to-cart-btn-white {
    font-size: 11px !important;
    padding: 6px 8px !important;
}

  #aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo a {
    display: inline-block;
  }
  .cart-price {
    margin-top: -2px;
  }
  #aa-header .aa-header-bottom .aa-cartbox .aa-cart-link {
    margin-right: 0px;
  }
  #aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo a p {
    text-align: left;
  }

  #aa-header .aa-header-bottom .aa-cartbox {
    text-align: center;
    margin-top: 10px;
    float: right;
    padding: 0;
    right: 0;
  }

  #aa-header .aa-header-bottom .aa-cartbox .aa-cart-link {
    display: inline-block;
    margin-top: -10px;
    width: 53px;
  }

  .aa-popular-category .aa-products-tab {
    text-align: left;
  }

  .aa-popular-category-area .tab-content {
    margin-top: 40px;
  }

  .slick-prev, .slick-next {
    margin-top: 0;
    top: -40px;
  }

  .slick-prev {
    left: 77%;
  }

  #aa-subscribe .aa-subscribe-area .aa-subscribe-form {
    width: 100%;
  }

  #aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-prev,
  #aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-next {
    top: 30%;
  }

  #aa-subscribe .aa-subscribe-area h3 {
    font-size: 20px;
  }

  #aa-subscribe .aa-subscribe-area p {
    font-size: 14px;
  }

  #aa-subscribe .aa-subscribe-area .aa-subscribe-form input[type="submit"] {
    font-size: 14px;
  }

  #aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary::after,
  #aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary::before {
    left: 45%;
  }

  #aa-latest-blog .aa-latest-blog-area .aa-latest-blog-single .aa-blog-img {
    height: 250px;
  }

  #wpf-loader-two .wpf-loader-two-inner {
    left: 36%;
  }

  #aa-footer .aa-footer-bottom .aa-footer-bottom-area > p {
    width: 100%;
    text-align: center;
  }

  #aa-footer .aa-footer-bottom .aa-footer-bottom-area .aa-footer-payment {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  #quick-view-modal .modal-content .aa-product-view-content .aa-prod-view-bottom {
    text-align: center;
  }

  #quick-view-modal .modal-content .aa-product-view-content .aa-prod-view-bottom a:last-child {
    margin-left: 0;
    margin-top: 10px;
  }

  .aa-add-to-cart-btn {
    min-width: 150px;
  }

  #quick-view-modal .modal-content .aa-product-view-content {
    text-align: center;
    margin-top: 10px;
  }

  #quick-view-modal .modal-content .aa-product-view-content .aa-price-block {
    text-align: left;
  }

  #quick-view-modal .modal-content .aa-product-view-content h3 {
    padding-bottom: 5px;
    text-align: left;
  }

  #aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content {
    padding: 8% 0;
  }

  #aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content {
    padding: 0 10px;
  }

  #aa-product-details .aa-product-details-area .aa-product-related-item h3 {
    text-align: left;
  }

  #aa-product-details .aa-product-details-area .aa-product-related-item .slick-prev, #aa-product-details .aa-product-details-area .aa-product-related-item .slick-next {
    top: -75px;
  }

  #cart-view .cart-view-area .cart-view-table {
    padding: 0 0 20px;
  }

  #cart-view .cart-view-area .cart-view-table .table tbody tr td img {
    height: 15px;
    width: 15px;
  }

  #cart-view .cart-view-area .cart-view-table .table thead tr th {
    font-size: 10px;
    padding: 7px 0;
  }

  #cart-view .cart-view-area .cart-view-table .table tbody tr td {
    font-size: 14px;
  }

  #cart-view .cart-view-area .cart-view-table .table tbody tr .aa-cart-view-bottom .aa-cart-coupon .aa-coupon-code {
    font-size: 12px;
    margin-right: 10px;
    min-width: 100px;
    padding: 8px;
    width: 100px;
  }

  #cart-view .cart-view-area .cart-view-table .aa-cart-view-btn {
    font-size: 12px;
    padding: 10px;
  }

  #cart-view .cart-view-area .cart-view-table .cart-view-total h4 {
    font-size: 20px;
  }

  #cart-view .cart-view-area .cart-view-table .cart-view-total {
    width: auto;
  }

  .aa-wishlist-table .aa-add-to-cart-btn {
    font-size: 7px;
    min-width: auto;
    padding: 8px 0;
  }

  #cart-view .cart-view-area .aa-wishlist-table .table thead tr th {
    font-size: 14px;
    padding: 10px 0;
  }

  #aa-error .aa-error-area {
    padding: 10px;
    padding-bottom: 30px;
  }

  .aa-blog-details h2 {
    font-size: 20px;
    line-height: 25px;
  }

  .aa-blog-details .aa-blog-content-single p {
    font-size: 15px !important;
  }

  .aa-blog-details .aa-blog-content-single blockquote {
    font-size: 16px;
  }

  .aa-blog-details .aa-blog-navigation .aa-blog-prev {
    font-size: 14px;
    padding: 6px 10px;
  }

  .aa-blog-details .aa-blog-navigation .aa-blog-next {
    padding: 6px 10px;
    font-size: 14px;
  }
  .col-md-6 {
    width: 55% !important;
    padding: 0;
}
.detalle p {
  font-size: 11px;
}
}
@media (max-width: 320px) {
  #aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary::after,
  #aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary::before {
    left: 52%;
  }
  .col-md-6 {
    width: 53% !important;
    padding: 0;
}

  .pro-qty {
    width: 80px !important;
    padding: 0 5px !important;
    margin-right: 10px;
  }

  .aa-add-to-cart-btn {
    font-size: 13px !important;
    text-align: center;
    min-width: 133px !important;
}
.aa-add-to-cart-btn .fa-shopping-cart {
  display: none;
}

  .pro {
    width: 300px;
  }

  .pro-qty input {
    width: 25px !important;
  }

  .thor {
    float: right;
    padding-left: 10px;
    margin-top: -4px;
}

  #aa-header .aa-header-bottom .aa-cartbox {
    margin-right: 4px;
  }

  #aa-header .aa-header-top .aa-header-top-left .aa-language .btn {
    padding: 6px 1px;
    font-size: 10px;
  }

  #aa-header .aa-header-top .aa-header-top-left .aa-language {
    padding-top: 3px;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-left .aa-show-form {
    margin-left: 5px;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-left label {
    margin-right: 0;
  }

  #cart-view .cart-view-area .cart-view-table .table tbody tr td {
    font-size: 10px;
  }

  #cart-view .cart-view-area .cart-view-table .aa-cart-view-btn {
    font-size: 10px;
    letter-spacing: 0.5px;
  }

  #cart-view .cart-view-area .cart-view-table .table tbody tr .aa-cart-view-bottom .aa-cart-coupon .aa-coupon-code {
    font-size: 10px;
    min-width: auto;
    padding: 6px;
    width: 90px;
  }
  #aa-header .aa-header-top .aa-header-top-right .aa-head-top-nav-right li a {   
    padding: 5px 2px;
  }
}

@media (max-width: 299px) {
  .aa-product-catg li {
    margin-left: 0;
    width: 46%;
    margin: 0 0px 10px 8px;
}
.aa-add-to-cart-btn-white {
    font-size: 11px !important;
    padding: 6px 6px !important;
}
.col-md-6 {
  width: 45% !important;
  padding: 0;
}
}



@media (min-width: 768px) {
  #usuario-modal .modal-dialog {
    width: 330px;
    margin: 30px auto;
    margin: 16.75rem auto;
  }
 
 }

@media (max-width: 991px) {
  #quick-view-modal .modal-dialog {
    margin: 6% auto;
    width: 90%;
}
}



