<!-- start women product category -->
<div class="tab-pane fade" id="women">
    <ul class="aa-product-catg">
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/women/girl-1.png" alt="polo shirt img"></a>
          
          <figcaption>
            <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                         
        <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
        </div>
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/women/girl-2.png" alt="polo shirt img"></a>
          
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span>
          </figcaption>
        </figure>                         
        <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div>
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/women/girl-3.png" alt="polo shirt img"></a>
          
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                         
        <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div>
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/women/girl-4.png" alt="polo shirt img"></a>
          
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                          
        <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div>
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/women/girl-5.png" alt="polo shirt img"></a>
          
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span>
          </figcaption>
        </figure>
       
        <div class="aa-product-hvr-content">
         <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div>
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/women/girl-6.png" alt="polo shirt img"></a>
          
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                          
        <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div>
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/women/girl-7.png" alt="polo shirt img"></a>
          
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                          
        
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/women/girl-1.png" alt="polo shirt img"></a>
          
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span>
          </figcaption>
        </figure>                         
        <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div>
      </li>                        
    </ul>
    <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
  </div>
  <!-- / women product category -->
  <!-- start sports product category -->
  <div class="tab-pane fade" id="sports">
    <ul class="aa-product-catg">
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/sports/sport-1.png" alt="polo shirt img"></a>
          
          <figcaption>
            <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                         
        <!-- <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                          
        </div> -->
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/sports/sport-2.png" alt="polo shirt img"></a>
          <!--  -->
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span>
          </figcaption>
        </figure>                         
        <!-- <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div> -->
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/sports/sport-3.png" alt="polo shirt img"></a>
          <!--  -->
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                          
        <!-- <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div> -->
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/sports/sport-4.png" alt="polo shirt img"></a>
          <!--  -->
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                         
        <!-- <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div> -->
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/sports/sport-5.png" alt="polo shirt img"></a>
          <!--  -->
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span>
          </figcaption>
        </figure>                          
        <!-- <div class="aa-product-hvr-content">
         <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div> -->
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/sports/sport-6.png" alt="polo shirt img"></a>
          <!--  -->
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                         
        <!-- <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div> -->
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/sports/sport-7.png" alt="polo shirt img"></a>
          <!--  -->
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                          
        <!--  -->
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/sports/sport-8.png" alt="polo shirt img"></a>
          <!--  -->
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span>
          </figcaption>
        </figure>                         
        <!-- <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div> -->
      </li>                        
    </ul>
  </div>
  <!-- / sports product category -->
  <!-- start electronic product category -->
  <div class="tab-pane fade" id="electronics">
     <ul class="aa-product-catg">
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/electronics/electronic-1.png" alt="polo shirt img"></a>
          <!--  -->
          <figcaption>
            <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                         
        <!-- <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
        </div> -->
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/electronics/electronic-2.png" alt="polo shirt img"></a>
          <!--  -->
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span>
          </figcaption>
        </figure>                         
        <!-- <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div> -->
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/electronics/electronic-3.png" alt="polo shirt img"></a>
          <!--  -->
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                          
        <!-- <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div> -->
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/electronics/electronic-4.png" alt="polo shirt img"></a>
          
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                          
        <!-- <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div> -->
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/electronics/electronic-5.png" alt="polo shirt img"></a>
          
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span>
          </figcaption>
        </figure>                         
        <!-- <div class="aa-product-hvr-content">
         <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div> -->
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/electronics/electronic-6.png" alt="polo shirt img"></a>
          
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                         
        <!-- <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div> -->
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/electronics/electronic-7.png" alt="polo shirt img"></a>
          
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                          
        <!--  -->
      </li>
      <!-- start single product item -->
      <li>
        <figure>
          <a class="aa-product-img" href="#"><img src="img/electronics/electronic-8.png" alt="polo shirt img"></a>
          
          <figcaption>
            <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
            <span class="aa-product-price">$45.50</span>
          </figcaption>
        </figure>                          
        <!-- <div class="aa-product-hvr-content">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
        </div> -->
      </li>                        
    </ul>
    <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
  </div>
  <!-- / electronic product category -->