 <!-- quick view modal -->                  
 <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog centro">
      <div class="modal-content">
        <!-- <div class="modal-header" style="padding: 0px;">
          <button type="button" class="cierre" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" data-dismiss="modal">&times;</span>
          </button>
        </div>                      -->
        <div class="modal-body">
          <button type="button" class="cierre" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" data-dismiss="modal">&times;</span>
        </button>
          <div class="row">
            <!-- Modal view slider -->
            <div >                              
              <div class="aa-product-view-slider">                                
                <div class="simpleLens-gallery-container" id="demo-1">
                  <div class="simpleLens-container">
                      <div class="simpleLens-big-image-container">
                          <a class="simpleLens-lens-image" data-lens-image="img/view-slider/large/polo-shirt-1.png">
                              <img src="img/product/e.jpg" class="simpleLens-big-image">
                          </a>
                      </div>
                  </div>
                  <!-- <div class="simpleLens-thumbnails-container">
                      <a href="#" class="simpleLens-thumbnail-wrapper"
                         data-lens-image="img/view-slider/large/polo-shirt-1.png"
                         data-big-image="img/view-slider/medium/polo-shirt-1.png">
                          <img src="img/view-slider/thumbnail/polo-shirt-1.png">
                      </a>                                    
                      <a href="#" class="simpleLens-thumbnail-wrapper"
                         data-lens-image="img/view-slider/large/polo-shirt-3.png"
                         data-big-image="img/view-slider/medium/polo-shirt-3.png">
                          <img src="img/view-slider/thumbnail/polo-shirt-3.png">
                      </a>

                      <a href="#" class="simpleLens-thumbnail-wrapper"
                         data-lens-image="img/view-slider/large/polo-shirt-4.png"
                         data-big-image="img/view-slider/medium/polo-shirt-4.png">
                          <img src="img/view-slider/thumbnail/polo-shirt-4.png">
                      </a>
                  </div> -->
                  
                </div>
              </div>
            </div>
            <!-- Modal view content -->
            <div class="col-lg-12 col-md-12">
              <div class="aa-product-view-content">
                <h3>Producto</h3>
                <div class="aa-price-block">
                  <span class="aa-product-view-price">$34.99</span>
                  
                </div>
                
                
               <!--  <div class="aa-prod-view-bottom">
                  <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                  <a href="#" class="aa-add-to-cart-btn">View Details</a>
                </div> -->

                <div class="foty product-details">
                  <div class="quantity cen">
                    <div class="pro-qty">
                      <span class="dec qtybtn">-</span>
                      <input type="text" value="1">
                  <span class="inc qtybtn">+</span></div>
                  <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Agregar al carro</a>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>                        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- / quick view modal -->              




   <!-- Modal -->
<div class="modal fade" id="ModalCarousel" tabindex="-1" role="dialog" aria-labelledby="ModalCarouselLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="carousel-modal-demo" class="carousel slide" data-ride="carousel">

  

 <!-- Sliding images statring here --> 
   <div class="carousel-inner"> 
    <div class="item"> 
      <img src="images/banana.jpg" alt="banana"> 
    </div> 
    <div class="item"> 
      <img src="images/currant.jpg" alt="currant"> 
   </div> 
    <div class="item"> 
      <img src="images/mango.jpg" alt="mango"> 
    </div>
    <div class="item active"> 
      <img src="images/strawberries.jpg" alt="strawberries"> 
    </div> 
     
  </div> 
  <!-- Next / Previous controls here -->
  <a class="left carousel-control" href="#carousel-modal-demo" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-modal-demo" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  
</div>
    </div>
  </div>
</div>
</div>


<div class="simpleLens-big-image-container">
  <a class="simpleLens-lens-image" data-lens-image="img/view-slider/large/polo-shirt-1.png">
      <img src="img/product/e.jpg" class="simpleLens-big-image">
  </a>
</div>